<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo" title="Revenir à l'accueil">
            <img src="https://labase.paris/wp-content/uploads/2020/12/logo-blanc-petit-1.png" alt="logo de la base"/>
            <ul class="right hide-on-med-and-down">
                <li{% if is_active(url, "/benevole/synch_old_benevoles") %} class="active"{% endif %}>
                    <a
                            href="/benevole/synch_old_benevoles"
                            title="synchronisation des anciens bénévoles dans Airtable"
                    >
                        Synchronisation
                    </a>
                </li>
                <li{% if is_active(url, "/benevole/benevole_from_telegram") %} class="active"{% endif %}>
                    <a
                            href="/benevole/benevole_from_telegram"
                            title="Liste des utilisateurs airtable"
                    >
                        Telegram
                    </a>
                </li>
                <li{% if is_active(url, "/benevole/benevole_from_telegram") %} class="active"{% endif %}>
                    <a
                            href="/benevole/compare_telegram_airtable"
                            title="Comparaison des utilisateurs airtable & telegram"
                    >
                        Comparaison
                    </a>
                </li>
            </ul>
        </a>
    </div>
</nav>
